body{
  background-color: cornflowerblue
}
.square{
  width: 100px;
  height: 100px;
  font-size: 50px;
}

.board-row{
  display: flex;
  justify-content: center;
}

.status{
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 160px;
}

.game-info{
  display: flex;
  justify-content: center;
}

body.winner-x{
  background-color: blue;
}
body.winner-o{
  background-color: violet;
}